<%= render "shared/errors" %>
<%= form_with url: "/forecast", method: :get, local: true do |form| %>
  <%= form.label :zip, "Forecast for (Zip code):" %>
  <%= form.search_field :zip, "data-testid" => "forecast-search-input" %>
  <%= form.submit "Search" %>
<% end %>
<hr/>
<% if @weather.present? %>
  <div data-testid="forecast-data">
    Current:
    <div data-testid="current-temp">
      <%= @weather.current_temp %>
    </div>
    Low:
    <div data-testid="min-temp">
      <%= @weather.min_temp %>
    </div>
    High:
    <div data-testid="max-temp">
      <%= @weather.max_temp %>
    </div>
    <% if @from_cache.present? %>
      <div data-testid="cache-indicator">c</div>
    <% end %>
  </div>
<% end %>